

  


  
<div class="backgroundImage" >

<div style="position:absolute;top:35%;width:100%;">
  <div class="container">
   <div class="row" id="formMainRowCss">
     <div class="col-sm-6 col-md-2 formInputDate" >
      <input  ng2-auto-complete inputClass="form-control" placeholder="Enter Origin" [(ngModel)]="selectedOrigin" [source]="observableSource" style="width:90%;border-radius: 5px;border: 1px solid #CCC;" /> 
      <!--<ng2-completer [(ngModel)]="origin"  placeholder="Enter origin" [dataService]="dataService" [minSearchLength]="0"></ng2-completer>-->
      </div>
      <div class="col-sm-6 col-md-2 formInputDate">
      <input  ng2-auto-complete inputClass="form-control" placeholder="Enter Destination" [(ngModel)]="selectedDestination" [source]="observableSource" style="width:90%;border-radius: 5px;border: 1px solid #CCC;"/> 
        
        <!--<ng2-completer  [(ngModel)]="destination" inputClass="form-control" placeholder="Enter destination" [dataService]="dataService" [minSearchLength]="0"></ng2-completer>-->
      </div>
      <div class="col-sm-6 col-md-3 formInputDate">
        <my-date-picker [selDate]="today" [options]="{inline:false}" (dateChanged)="onDateChanged($event)"></my-date-picker>
      </div>
      <div class="col-sm-6 col-md-3">
        <my-date-picker [selDate]="today" [options]="{inline:false}" (dateChanged)="toDateChanged($event)"></my-date-picker>
      </div>
      <div class="col-sm-6 col-md-2">
        <button class="btn form-control" style="color:#fff;background-color: #f6ac30;border-color: #f6ac30;" routerLink="/flightResult">
          Search
        </button>
      </div>
   </div> 
  </div>
</div>
</div>