<div class="backgroundImage" >

<div style="position:absolute;top:35%;width:100%;">
  <div class="container">
   <div class="row" id="formMainRowCss">
     <div class="col-sm-6 col-md-2 formInputDate" >
      <input class="form-control" placeholder="Enter Origin" >
      </div>
      <div class="col-sm-6 col-md-2 formInputDate">
        <input class="form-control" type="text" placeholder="Enter Destination" >
      </div>
      <div class="col-sm-6 col-md-3 formInputDate">
        <my-date-picker [selDate]="today" [options]="{inline:false}" (dateChanged)="onDateChanged($event)"></my-date-picker>
      </div>
      <div class="col-sm-6 col-md-3">
        <my-date-picker [selDate]="today" [options]="{inline:false}" (dateChanged)="onDateChanged($event)"></my-date-picker>
      </div>
      <div class="col-sm-6 col-md-2">
        <button class="btn form-control" style="color:#fff;background-color: #f6ac30;border-color: #f6ac30;" routerLink="/flightResult">
          Search
        </button>
      </div>
   </div> 
  </div>
</div>
</div>