<div class="container">
  <div class="row" >
      <div class="col-sm-6 col-md-4">
        <img src="../../assets/images/logo.png" alt="travelbooking.pk">
      </div>
      <div class="col-sm-6 col-md-6 col-md-offset-2" style="text-align:right;top:8px;">
        <div class="col">
          <div class="row rowMamrginRight" style="font-size: 14.5px;height: 8px;margin: 0px 14px 10px;color: #44a8dd;">
            <img src="../../assets/images/icn-call-h.png" alt="">
            Booking Online or Call Us:
          </div>
          <div class="row rowMamrginRight" style="margin-right: 20px; font-size: 24px; color: #40a7dc;">
            0300 26 04372
          </div>
          <div class="row rowMamrginRight" style="text-align:right;">
            <div class="col-md-3 col-md-offset-3 textCustomCss">
              <span style="cursor:pointer">Login</span> / <span style="cursor:pointer">Register</span>
            </div>
            <div class="col-md-3 textCustomCss">
              <span style="cursor:pointer">My Booking</span>
            </div>
            <div class="col-md-3 textCustomCss">
              <span style="cursor:pointer">Contact Us</span>
            </div>  
          </div>
        </div>
      </div>
  </div>
</div>